@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	margin: 0 0 0 0;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 150%;
}


h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 8.5rem;
	margin-top: 0;
	margin-bottom: 0;
	color: #176f6a;
}

h2 {
	font-size: 3rem;
	text-align: center;
}

h4 {
	font-size: 1.5rem;
	overflow: hidden;
	opacity: .7;
}

a {
	text-decoration: none;
	color: #176f6a;
}

span {
	text-decoration: none;
	outline: none;
	color: white;
}

span:hover {
	color: #349E95;
}

img {
	width: 35%;
}

.page {
	width:100vw;
	min-height: 100vh;
	height: auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.halfpage {
	width: 100vw;
  	height: 50vh;
  	text-align: center;
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.half {
	overflow: visible;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#headerimage {
	width: 30vw; 
	margin-top: 1em;
}

#sponsorimage {
	width: 40em; 
	margin-top: 1em;
}

#links {
	text-align: center;	
	display: flex;
		width: 50%;
		left: 50%;
		position: relative;
		margin: 0;
		margin-top: 3rem;
		transform: translate(-50%, 0);
}

	.links_header {
		flex: 1;
		transition: 0.2s;

	}
	.links_header:hover {
		color: #B9CA4F;
	}


#title {
	font-size: 1.5rem;
}

#paragraph1 {
	width: 50%;
}
#schedule_master {
	display: flex;
}
	.text_container {
			margin: 0;
			margin-top: 0rem;
			width: 25%;
	}

	.center {
		left: 50%;
			position: relative;
			transform: translate(-50%, 0);
	}

	#schedule_container {
		display: flex;
		flex-direction: column;
		flex: 3;
	}

	.scheduleflexplant {
			flex: 4;
			width: 1rem;
			padding: 0 2rem 0 2rem;
			display: flex;
			align-content: flex-end;
			justify-content: center;
			align-items: flex-end
	}

	.schedule_row {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		font-size: 1.2rem;
	}

#scheduleoptions {
	text-align: right;
}


.sponsor-container{
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	align-self: center;
    align-items: center;
    justify-content: center;
}

.sponsorimg-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sponsorimg-container img {
	width: 150px;
	height: auto;
}

.sponsor{
	display: block;
	max-width:260px;
	max-height:260px;
	width: auto;
	height: auto;
	margin: 25px;
}

.tier{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* BUTTON CODE */
#button_link {
	margin-top: 70px;
}
.button {
    height: 50px;
    width: 250px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #349E95;
    box-shadow: 0px 4px 0px #246B62;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: none;
    transition: 0.2s;
    position: relative;
}
.button:hover {
    background-color: #68B5AC;
    cursor: pointer;
}
.button:active {
    background-color: #78D1C6;
    box-shadow: none;
    transform: translateY(4px);
}


        *.unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

#bottom_img {
	width: 142%;
	bottom: -7px;
	left: -18px;
	position: absolute;	
}

.footer {
/*	display: flex;
	justify-content: center;
	width: 100vw;
	flex-direction: column;*/
/*	height: 100px;
*/	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.white {
	color: white;
	text-align: center;
	justify-content: center;
	margin: 0;
/*
    position: absolute;
    bottom: 8px;
    left: 16px;*/
}

.faq {
	display: flex;
	flex-direction: row;
	
}

.faq .question-col {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.faq .question-col p {
	flex: 1;
	margin: 20px 20px 5px 100px;
}

.faq .answer-col {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.faq .answer-col p {
	flex: 1;
	margin: 20px 100px 5px 20px;
}


@media only screen and (max-width:1004px)  { 
	#schedule_container {
		flex: 8;
	}
	#paragraph1 {
		width: 80%;
	}
	h1 {
		font-size: 5.5rem;
	}
	#title {
		font-size: 1rem;
	}
	.links_header {
		font-size: 1.0rem;
	}
	.half {
		height: 65vh;
	}

	.faq .question-col p {
		margin: 5px 20px 5px 60px;
	}

	.faq .answer-col p {
		margin: 5px 60px 5px 20px;
	}
}

@media only screen and (max-width: 600px) {
	.schedule_row {
		font-size: 1.2rem;
	}
	#paragraph1 {
		width: 90%;
	}
	h1 {
		font-size: 3.0rem;
	}
	h2 {
		margin-bottom: 10px;
	}
	#title {
		font-size: .9rem;
		margin-top: 0px;
	}
	#links {
		width: 90%;
	}
	.links_header {
		font-size: 0.9rem;
	}
	p {
		font-size: 0.8rem;
	}
	.scheduleflexplant {
		display: none;
	}
	#schedule_container {
		margin:50px;
	}
	.footer {
		bottom: 5px;
	}

	.sponsor{
		margin: 8px;
	}

	.s1 {
		max-width: 150px;
		max-height: 150px;
	}
	.s2 {
		max-width: 100px;
		max-height: 100px;
	}
	.s3 {
		max-width: 60px;
		max-height: 60px;
	}

	.faq .question-col p {
		margin: 10px 20px 5px 20px;
	}

	.faq .answer-col p {
		margin: 10px 20px 5px 20px;
	}
}

